/* Font LInK */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
/* ----------------------------------------------------------------------------------------------------------- */

/* CSS RESET */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
/* Background Class */
.background{
    background: rgba(0, 0, 0, 0.6) url(./Img/image-2.jpeg);
    background-size: cover;
    background-blend-mode: darken;
}
/* ----------------------------------------------------------------------------------------------------------- */
/* Navbar */
/* _______ */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}
/* NAVBAR list (Left)*/
/* __________________ */
.left-nav {
  width: 50%;

  display: flex;
  align-items: center;
}
.left-nav li {
  list-style: none;
  padding: 0px 26px;
}
.left-nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition: 0.6ms;
}
.left-nav li a:hover {
  color: rgb(164, 152, 152);
}
/* Right Navbar */
.right-nav {
  width: 50%;
  text-align: right;
  padding: 0px 26px;
  
}

/* LOGO */
/* _____ */
.logo {
  
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 66%;
}
/* SEARCH Box */
#search{
    padding: 6px;
    font-size: 1.1rem;
    border: 2px solid grey;
    border-radius: 16px;
}
/* Search Button */
.btn-small{
    padding: 10px 30px;
    margin: 16px 16px;
    border-radius: 16px;
    font-size: 0.6rem;
    font-weight: 600;
    background: none;
    color: aliceblue;
    border: 1px solid white;
    cursor: pointer;
}
.btn-small:hover{
    background-color: orangered;
}

/*<!-- ------------------------------------------------------------------------------------------------------- -->
<!--  -->
<!--  -->
<!--  -->
<!-- ------------------------------------------------------------------------------------------------------- -->*/
/* Section - 1 */
.first-section{
height: 100vh;
}
/* Main Box */
/* _________ */
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    max-width: 50%;
    margin: auto;
    height: 66%;
    
}
/* ------------------------------ */
/* First half */
.first-half{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.first-half .btn{
    padding: 0px 0px;
    margin: 0px 0px;
}
.big-text{
    font-size: 66px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: orangered;
    font-weight: 600;

}
.small-text{
    font-size: 16px;
}
/* Second Half */
/* ____________ */
.second-half{
width: 30%;
}
.second-half img{
    width: 136%;
    display: block;
    margin: auto;
}
/* Second half button */
.first-half .btn,.btn{
    padding: 10px 30px;
    margin: 16px 16px;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 600;
    background: none;
    color: aliceblue;
    border: 1px solid white;
    cursor: pointer;

}
.first-half .btn:hover{
    background-color: orangered;
   

}
/*<!-- ------------------------------------------------------------------------------------------------------- -->
<!--  -->
<!--  -->
<!--  -->
<!-- ------------------------------------------------------------------------------------------------------- -->*/

/* Section - 2 */
/* ____________ */
.section{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: auto;
  height: 1000px;
  
}
.tag{
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  
}
.section-left{
  flex-direction: row-reverse;
}
/* Pics  */
/* _______ */
.th-1{
  height: 666px;
  width: 507px;
  margin: 0px 66px 0px 0px;
}
.th-2{
  height: 666px;
  width: 507px;
  margin: 0px 0px 0px 93px;
}
.th-3{
  height: 666px;
  width: 507px;
  margin: 0px 66px 0px 0px;
}
.th-4{
  height: 666px;
  width: 507px;
  margin: 0px 0px 0px 93px;
}
.th-5{
  height: 666px;
  width: 507px;
  margin: 0px 66px 0px 0px;
}
.th-6{
  height: 666px;
  width: 324px;
  margin: 93px 0px 0px 93px;
}
/* Para */
.paras{
  margin:  93px 0px 0px 0px;
}
/* Image Class */
.rider{
  border: 6.6px double black;
  border-radius: 16px;

}
/* Contact-Section */
/* ________________ */

.contact{
  height: 69vh;
  background-color: wheat;
  padding: 30px;
  font-family: 'Ubuntu', sans-serif;
}
.text-center{
  text-align: center;
}
.contact .form{
  max-width: 226px;
  margin: auto;
}
.form input{
  padding: 0px 16px;
  margin: 16px 0px;
  width: 100%;
  font-size: 1rem;
  border-radius: 6px;
  padding: 6px;
}
.btn-dark{
  color: black;
  border: 2px double black;
}
#text-t-a{
  font-weight: 700;
}
